<div class="container">

  <h1 class="text-center mt-5">編集</h1>

  <%= render partial: 'form', locals: { article: @article } %>

  <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger mt-3 "%>


</div>